* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.item {
  width: 150px;
  height: 160px;
  padding-top: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 1px 6px 2px gray;
  transition: all 0.5s;
  text-decoration: none;
  color: black;
}

.item:hover {
  transform: scale(1.1);
  box-shadow: 0px 3px 9px 3px gray;
}

.categorys {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.car-name {
  margin-top: 5px;
  font-family: sans-serif;
  text-transform: capitalize;
  font-weight: 600;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin-top: 100px;
}

.car-img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
}

.card {
  width: 350px;
  height: 375px;
  border-radius: 10px;
  box-shadow: 1px 2px 7px 3px rgba(36, 36, 236, 0.639);
  text-decoration: none;
  color: black;
  position: relative;
}

.info-car-list {
  display: flex;
  align-items: center;
}

.cars-name {
  width: 350px;
  justify-content: center;
  display: flex;
  font-family: sans-serif;
  font-size: 25px;
}

.narx,
.yili,
.holat {
  margin-left: 20px;
  font-family: sans-serif;
  font-size: 18px;
  margin-top: 10px;
}

.holat {
  width: 320px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.save {
  background-color: red;
  border: none;
  color: #fff;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  transition: all 1.5s;
}

.btn-more {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.car-logo {
  width: 60px;
  height: 40px;
  border-radius: 15px
}

@media (max-width: 768px) {
  .cards {
    gap: 50px;
  }

  .car-img {
    height: auto;
  }


  .card {
    width: 90%;
  }

  .categorys {
    gap: 20px;
  }

  .item {
    width: 120px;
    height: 130px;
  }
  .car-logo {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 576px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin-bottom: 20px;
  }
}
